<h1>Merci</h1>

<p>
  Merci pour votre inscription: Nous vous avons envoyé un email de confirmation. Veuillez vous connecter à l’adresse Email renseignée, afin d’activer votre compte.
</p>

<p>
  <a href="<%= verifyHref %>"><%= verifyHref %></a>
</p>
